* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f7fb;
    color: #1e293b
}

/* BAGIAN NAVBAR */

.navbar{
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 18px 30px;
}

.navbar-content {
    max-width: 1200px;
    margin: auto;

    display: flax;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5fa157;
}

.logo i {
    font-size: 22px;
}
.logo h1 {
    font-size: 30px;
}

nav a {
    text-decoration: none;
    color: #64748b;
    font-size: 15px;
}

nav a:hover{
    color: #5fa157;
}

/* DASHBOARD */

.dashboard {
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px
}

.stat-card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.stat-card p{
    color: #64748b;
    font-size: 14px;
    margin-bottom: 5px;
}

.stat-card h2 {
    font-size: 30px;
}

/* ICON */

.icon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.blue {
    background-color: #3b82f6;
}
.green{
    background-color: #10b981;
}
.orange{
    background-color: #f59e0b;
}
.red{
    background-color: #f43f5e;
}

/* ISI CONTENT */
.content{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
}

.card{
    background-color: white;
    border: 1px solid #ddd;
    padding: 25px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

/* FORM */

form{
    display: flex;
    flex-direction: column;
    gap: 8px;

}

form label {
font-size: 14px;
font-weight: bold;
margin-top: 8px;


}

form input,
form select {
padding: 11px;
border: 1px solid #ddd;
border-radius: 7px;
outline: none;
}
form input:focus,
form select:focus {
border-color: #5fa157;
}

form button {
margin-top: 15px;
padding: 12px;

border: none;
border-radius: 7px;

background-color: #5fa157;
color: white;

font-weight: bold;

cursor: pointer;
}

form button:hover {
background-color: #4d8b47;
}

